SECRET_KEY = your_secret_key_django

POSTGRES_DB = your_name_db
POSTGRES_USER = your_user_db
POSTGRES_PASSWORD = password_your_user_db
POSTGRES_HOST = host_your_db
PORT = port_your_db

DEBUG = True

TELEGRAM_TOKEN = your_token_telegram